<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591500431863-fd87u15asphjmc8n8jl0k1e50httbovj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591500431863-fd87u15asphjmc8n8jl0k1e50httbovj</string>
	<key>API_KEY</key>
	<string>AIzaSyDEz4_c3kIPhMx2k02P36Wg3hio0akOwE0</string>
	<key>GCM_SENDER_ID</key>
	<string>591500431863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>athulsbabu.com.athulSBabu</string>
	<key>PROJECT_ID</key>
	<string>athulsb-41ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>athulsb-41ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591500431863:ios:ff6e12b0dea99bd78c1ef2</string>
</dict>
</plist>